body {
  margin: 0;
  font-family: Helvetica;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.btn {
  background: #CAD17B;
  padding: 10px 15px;
  border-radius: 4px;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.logo {
  width: 200px;
  margin: 30px auto 0 auto;
}

.logo-mynote {
  width:500px;
}

@media screen and (max-width:640px) {
  .logo-mynote {
    width: 230px;
  }

  .banner p {
    font-size: 18px;
    opacity: 1;
    margin: 10px 10px 30px 10px;
  }

  .logo {
    width: 130px;
    margin: 0px auto 0 auto;
  }
}
